.ul-team {
  height: 300px;
  img {
  width: 100px;
  margin:70px 15px 15px 15px;
  }
  li{
  margin: 0 50px;
  padding-bottom: 10px;
  font-size: 18px;
  color: $gray;
  }
  h3 {
  font-size: 24px;
  color: $green;
  }
}

.title {
  margin-bottom: 300px;
}
